html {
    scroll-behavior: smooth;
}

body {
    background-color:  #1a1a1a;
    color: #fff;
}

/* home page */
.home {
    width: 70%;
    margin: 0 auto;
    margin-block: 3rem;
}
.header{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

/* upload */
.upload {
    width: 100%;
    background: linear-gradient(-45deg, #483D8B 20%, #f89b29 100%);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
}
.upload-info h1 {
    margin-top: 8rem;
    line-height: 0.5;
}
.upload-info p {
    width: 92%;
}
.subheading{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* card */
.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.avatar {
    display: flex;
    gap: 2rem;
}
.avatar_img {
    border-radius: 0.5rem;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid#f89b29;
}

/* profile */
.profile {
    border-radius: 1rem;
    background: #1a1a1a70;
    display: grid;
    place-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111111;
    width: 100%;
    height: 100%;
}

/* loader */
.loader {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a1a1ad2;
    z-index: 11111;
}

/* form */
.form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1a1a1ad2;
    z-index: 11111;
}
.form_inner {
    width: 40%;
    padding-top: 1rem;
    margin: 0 auto;
}

/* api page */
.api-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
.api-body p {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.api-title {
    background: linear-gradient(-45deg, #483D8B 20%, #f89b29 100%);
    padding: 1rem;
    border-radius: 0.5rem;
}

/* about page */
.documentation-page {
    font-family: Arial, sans-serif;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
.documentation-page nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
  
.documentation-page nav ul li {
    margin-right: 10px;
}
  
.documentation-page nav ul li a {
    color: #fff;
    padding: 0 10px;
}

.documentation-page nav ul li a:hover {
    color: #f89b29;
}
  
.documentation-page main section {
    margin-bottom: 40px;
}
  
.documentation-page h1, h2, h3 {
    color: #fff;
}
  
.documentation-page ol {
    padding-left: 20px;
}
  
.documentation-page .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.documentation-page .image-container .tech_img {
    margin: 0 10px;
    border: 1px solid #f89b29;
    width: auto;
    height: auto;
}

.documentation-page .image-container .tech_img:hover {
    transform: scale(1.1);
}

.documentation-page .doc-title {
    background: linear-gradient(-45deg, #483D8B 20%, #f89b29 100%);
    padding: 0.3rem;
    border-radius: 0.5rem;
    text-align: center;
    width: fit-content;
}

.documentation-page .introduce-text {
    text-align: justify;
    text-indent: 1em;
}
/* user profile */
.cardProfile{
    border: 2px solid black;
    text-align: center;
    padding: 20px;
}
.cardProfile .avatar_img{
    width: 200px;
    border-radius: 50%;
}

.cardProfile button {
    padding: 0.8em 1.7em;
    display: block;
    margin: 0 5px;
    border-radius: 25px;
    border: none;
    font-weight: bold;                                            
    background: #f89b29;
    color: rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
}

.cardProfile button:hover {
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    color: white;
    cursor: pointer;
}

/* media query */
@media screen and (max-width: 55em) {
    .card {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .upload {
        grid-template-columns: 1fr;
        justify-content: center;
        place-items: center;
        padding-top: 1rem;
    }
    .upload-info {
        margin-top: 0rem;
        font-size: 1.3rem;
    }
    .form_inner {
        width: 100%;
        padding: 0;
    }
    .api-body {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 45em) {
    .home {
        width: 90%;
    }
    .header h1 {
        font-size: 1.5rem;
    }
    .upload {
        grid-template-columns: 1fr;
        justify-content: center;
        place-items: center;
        padding-top: 1rem;
    }
    .upload-info {
        padding: 1rem;
    }
    .upload-info h1 {
        margin-top: 0rem;
        font-size: 1.3rem;
    }
    .card {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .subheading {
        font-size: 1.3rem;
    }
    .form_inner {
        width: 100%;
        padding: 0;
    }
    .api-body {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 35em) {
    .home {
        width: 90%;
    }
    .header h1 {
        font-size: 1.5rem;
    }
    .upload {
        grid-template-columns: 1fr;
        justify-content: center;
        place-items: center;
        padding-top: 1rem;
    }
    .upload-info {
        padding: 1rem;
    }
    .upload-info h1 {
        margin-top: 0rem;
        font-size: 1.3rem;
    }
    .card {
        grid-template-columns: 1fr;
    }
    .subheading {
        font-size: 1.3rem;
    }
    .form_inner {
        width: 100%;
        padding: 0;
    }
    .api-body {
        grid-template-columns: 1fr;
    }
}

/* Responsive Styles */
@media (max-width: 600px) {
    .documentation-page {
        max-width: 100%;
        padding: 10px;
    }
    
    .documentation-page nav ul {
        flex-wrap: wrap;
    }
    
    .documentation-page nav ul li {
        margin: 5px;
    }
    
    .documentation-page .image-container {
        flex-wrap: wrap;
    }
    
    .documentation-page .image-container .tech_img {
        margin: 5px;
    }
}
